@model List<KURS.ENTITY.Course>
@{
    ViewData["Title"] = "Index";
}


<h5 class="display-6 bg-dark w-100 p-2 text-white">COURCSE LİST</h5>
<hr>
<a class="btn btn-outline-primary" asp-action="Create">Create New Course</a>
<hr>
<table class="table table-sm table-dark w-100 mt-2">
    <thead class="bg-primary">
        <tr>
            <th>Id</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.CourseCode</td>
                <td>@course.Name</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</button>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@course.CourseId">Edit</a>
                    <form asp-controller="Course" asp-action="CourseDelete" method="post">
                        <input type="hidden" name="courseId" value="@course.CourseId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                   
                </td>
            </tr>
            <partial name="_CourseDetail" model="@course"/>
        }
    </tbody>
</table>