@model Passenger

<h1 class="display-4 text-danger">Gidiş Bilgileri</h1>
<form action="/Expedition/Odeme" method="post" class="container">

    <table class="table table-dark text-white">
        <thead class="text-danger">
            <tr>
                <td>Nereden</td>
                <td>Nereye</td>
                <td>Tarih</td>
                <td>Saat</td>
                <td>Fiyat</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @ViewBag.Expedition.ExpeditionStart</td>
                <td> @ViewBag.Expedition.ExpeditionFinish</td>
                <td> @ViewBag.Expedition.ExpeditionDate</td>
                <td> @ViewBag.Expedition.ExpeditionHour</td>
                <td> @ViewBag.Expedition.ExpeditionPrice</td>
            </tr>
        </tbody>
    </table>


    <div class="row d-flex flex-wrap">
        <div class="col-md-6 w-50">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ad</label>
                <div class="col-sm-5">
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Soyadı</label>
                <div class="col-sm-5">
                    <input type="text" asp-for="Surname" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Telefon</label>
                <div class="col-sm-5">
                    <input type="text" asp-for="SeatNumber" class="form-control" />
                </div>
            </div>
        </div>

        <div class="w-50">
            <img src="~/img/koltuk.png" id="koltuk" />
            <select name="" id="" class=" col-sm-4 custom-select">
                <option>Koltuk seç</option>
                @for (int i = 1; i < 50; i++)
                {
                    <option value="">@i</option>
                }
            </select>
        </div>

    </div>
    <input type="hidden" name="id" value="PassengerId" class="btn btn-danger" />
    <button type="submit" class="btn btn-info">Bilet Al</button>

</form>





