@model Passenger

<h1>Bilet alma işleminiz başarıyla gerçekleşmiştir</h1> 

@*<form asp-action="Passenger" asp-controller="Expedition" class="container">
    <h6>@ViewBag.pass.Name</h6>
    </form>*@

    @*<form asp-action="Create" asp-controller="Expedition"  class="container">

        <table class="table table-dark text-white">
            <thead class="text-danger">
                <tr>

                    <td>Nereden</td>
                    <td>Nereye</td>
                    <td>Tarih</td>
                    <td>Saat</td>
                    <td>Fiyat</td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td> @ViewBag.Expedition.ExpeditionStart</td>
                    <td> @ViewBag.Expedition.ExpeditionFinish</td>
                    <td> @ViewBag.Expedition.ExpeditionDate</td>
                    <td> @ViewBag.Expedition.ExpeditionHour</td>
                    <td> @ViewBag.Expedition.ExpeditionPrice</td>
                </tr>
            </tbody>
        </table>
    </form>*@

