@model List<Expedition>
@*<h1>@item.ExpeditionHour</h1>*@

<form action="/Expedition/CreateTicket" method="post">
    <table class="table table-dark">
        <tr class="text-danger font-weight-bold" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            <td>Tarih</td>
            <td>Nereden</td>
            <td>Nereye</td>
            <td>Saat</td>
            <td>Fiyat</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExpeditionDate</td>
                <td>@item.ExpeditionStart</td>
                <td>@item.ExpeditionFinish</td>
                <td>@item.ExpeditionHour</td>
                <td>@item.ExpeditionPrice</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary  dropdown-toggle" type="submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seç
                        </button>

                        <div class="dropdown-menu">

                            <div class="w-100">
                                <div id="deneme1" class="row bg-warning ">

                                    <div class="text-xl-left mb-3 ">
                                        <img class="resim" src="~/img/resim.png" alt="">
                                    </div>
                                    @for (int i = 1; i < 22; i++)
                                    {
                                        <div class="col-4">
                                            <input type="checkbox" id="btn1" />
                                            <label for="btn1">@i</label>
                                        </div>
                                    }
                                </div>
                            </div>

                            <input id="devam" type="hidden" name="id" value="@item.ExpeditionId" class="btn btn-danger" />
                            <button type="submit">Bilet Al</button>
                        </div>

                    </div>
                </td>
            </tr>
        }
    </table>
</form>


@*<div>
        <label for="aaa">aaa</label>
        <input type="checkbox" id="aaa" value="" class="d-none " />
        <div class="aaa">
            AAAAA
        </div>
    </div>*@





@*
        <div class="container">
        <div class="row bg-warning ">
            <div class="col-1 " id="dene">
                <div class="text-center ">
                    <img class="resim" src="~/img/resim.png" alt="">
                </div>
            </div>
            <div class="col-md-8 bg-primary">
                <div class="bg-secondary">
                    @for (int i = 1; i < 20; i += 3)
                    {
                        <input type="checkbox" id="btn1" />
                        <label for="btn1">@i</label>
                    }
                    <div class="bg-success">
                        @for (int i = 2; i < 21; i += 3)
                        {
                            <input type="checkbox" id="btn2" />
                            <label for="btn2">@i</label>
                        }
                    </div>
                </div>
                <br />
                <br />
                <div class="bg-info">
                    @for (int i = 3; i < 22; i += 3)
                    {
                        <input type="checkbox" id="btn3" />
                        <label for="btn3">@i</label>
                    }
                </div>
            </div>
        </div>
    </div>
    <button id="devam" type="submit" class="btn btn-danger">@item.ExpeditionPrice TL   Bilet Al</button>
*@
© 2022 GitHub, Inc.