@model List<Expedition>


@*<h1>@item.ExpeditionHour</h1>*@



<table class="table table-dark">
    <tr class="text-danger font-weight-bold"  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <td>Tarih</td>
        <td>Nereden</td>
        <td>Nereye</td>
        <td>Saat</td>
        <td>Fiyat</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExpeditionDate</td>
            <td>@item.ExpeditionStart</td>
            <td>@item.ExpeditionFinish</td>
            <td>@item.ExpeditionHour</td>
            <td>@item.ExpeditionPrice</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary  dropdown-toggle" type="submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seç
                    </button>
                   
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="row border w-50 h-25">

                            <form>
                                <div class="row d-flex bg-success">
                                    <label> Şoför</label>
                                    <div class="col-md-4">
                                        @for (int i = 1; i < 20; i += 3)
                                        {
                                            <button id="btn1">@i</button>
                                        }
                                    </div>

                                    <div class="col-md-4">
                                        @for (int i = 2; i < 21; i += 3)
                                        {
                                            <button id="btn2">@i</button>
                                        }

                                    </div>
                                    <div class="col-md-4">
                                        @for (int i = 3; i < 22; i += 3)
                                        {
                                            <button id="btn3">@i</button>
                                        }
                                    </div>
                                </div>

                            </form>
                            <button id="devam" type="submit">Devam et</button>
                        </div>
                    </div>
                </div>
            </td>
                      
        </tr>
    }
    </table> 
