@model List<KURS.ENTITY.Student>
@{
    ViewData["Title"] = "Student List";
}

<h5 class="display-5 bg-warning w-100 p-3 text-white">STUDENTS</h5>
<hr>
<a class="btn btn-success btn-sm" asp-action="Create">Create a new Student</a>
<hr>
<table class="table table-sm table-dark w-100 mt-2 ">
    <thead class="bg-primary p-3">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.BirthDay</td>
                <td>
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</button>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@student.StudentId.">Edit</a>
                     
                    <form asp-controller="Student" asp-action="Delete" method="post">
                        <input type="hidden" name="studentId" value="@student.StudentId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@student.StudentId.">Ders Seç</a>
                </td>
            </tr>
        }
    </tbody>
</table>